:root {
    --accent: mediumseagreen;
    --bg: #242424;
    --highlight: #00ade2;
}

a {
    color: var(--accent);
}

.accentSpan {
    color: var(--accent);
}
.consoleHighlightInfo {
    display: contents;
    color: var(--highlight);
}
body {
    background-color: var(--bg);
}
p {
    color: white;
}

.cursorParagraphLine {
    display: contents;
}

#cursorInput {
    color: mediumseagreen;
    background: var(--bg);
    outline: none !important;
    border: none;
}

#cursorInput_disabled {
    color: mediumseagreen;
    background: var(--bg);
    outline: none !important;
    border: none;
}