.blogPost {
    cursor: pointer;
    margin: 0 auto;
    width: 35%;
    border-radius: 12px;
}

.blogPost:hover {
    border: solid 1px #45007E;
}

.sitenav {
    background-color: #45007E;
    font-family: 'Koulen', cursive;
}

.aboutMeTextContent {
    display: table;
    margin: auto;
    text-align: center;
    inline-size: 75%;
    font-family: 'Inconsolata', monospace;
}

.primaryButton {
    color: white;
    border: .2px solid #45007E;
    border-radius: 0.500rem;
    background-color: transparent;
    padding-left: 65px;
    padding-right: 65px;
    font-family: 'Inconsolata', monospace;
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.lightMode {
    color: black;
}

#darkMode-toggle-on {
    background-color: transparent;
    border: .001px solid black;
    border-radius: 12px;
    filter: invert();
}

#darkMode-toggle-off {
    background-color: transparent;
    border: .001px solid black;
    border-radius: 12px;
}

body {
    background-color: rgb(18, 18, 18);
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

.centered_div {
    text-align: center;
    align-items: center;
}